.container{
    max-width:1000px;
    margin:auto;
    background:rgba(0,255,100,0.1);
    padding-right:13px;
}

.container .header{
    width:100%;
    background:rgba(0,255,100,0.2);
    padding: 10px 10px 9px 0;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    border:1px solid rgba(0,155,0,0.5);
    border-top:0;
}

.container .header a.header_link{
    padding: 10px;
    text-decoration:none;
    color:black;
    margin-right:0;
    margin-left:-4px;
    border-right:1px solid rgba(0,155,0,0.3);
}

.container .header a.header_link.first{
    border-bottom-left-radius:5px;
    float:none;
    margin-left:0;
}

.container .header a.header_link:hover{
    color:white;
    background:rgba(0,155,0,0.3);
}

.container .header a.header_link.right{
    float:right;
    border-right:0;
    border-left:1px solid rgba(0,155,0,0.3);
    bottom:10px;
    left:10px;
    position:relative;
}

.container.header a.header_link.right.first{
    border-bottom-right-radius:5px;
    border-bottom-left-radius:0;
}

body{
    padding:0;
    margin:0;
    font-family: Arial, serif;
}

.login-form{
    width:40%;
    position:absolute;
    top:200px;
    margin-left:calc(30% - 20px);
    display:none;
    transition: display 1s linear 1s;
    border:1px solid rgba(0,0,0,0.7);
    border-radius:3px;
    padding:10px;
    background:white;
}

.login-form .close{
    float:right;
    cursor:pointer;
    font-size:14pt;
    position:relative;
    top:1px;
}

.container .content{
    width:calc(100% + 13px);
    background:rgba(0,255,100,0.2);
    margin-top:50px;
}

.page-mask{
    display:none;
    background:rgba(0,0,0,0.5);
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
}